﻿@page
@model Kwekker.Pages.Account.ProfileModel
@{
    ViewData["Title"] = "User Profile";
}

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <h2>@ViewData["Title"].</h2>

            <div class="col-md-2">
                
            </div>
            <div class="col-md-4">
                <h3>@Model.User.Name</h3>
                <p>
                    <i class="glyphicon glyphicon-envelope"></i> @Model.User.EmailAddress
                </p>
            </div>
        </div>
    </div>
</div>
