﻿@page
@model Kwekker.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="tweet.Content" class="control-label"></label>
                <input asp-for="tweet.Content" class="form-control" />
                <span asp-validation-for="tweet.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tweet.Image" class="control-label"></label>
                <input asp-for="tweet.Image" class="form-control" />
                <span asp-validation-for="tweet.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>